@media (max-width: 1300px) {
  .menu-items {
    padding: 3rem 0rem;
  }
}

@media (max-width: 768px) {
  body {
    line-height: 1.6;
  }
  .hero h1 {
    font-size: 6rem;
  }
  .hero p {
    font-size: 1.6rem;
    padding: 2rem 0;
  }
  .menu {
    padding: 5rem 0;
  }
  .menu-items {
    padding: 3rem 1rem;
  }
  .food-box {
    padding: 30rem 0rem;
    width: clamp(500px, 80%, 550px);
  }
  .hist,
  .community,
  .philosophy {
    padding: 7rem 1rem;
    height: 30rem;
  }
  .health-info {
    width: clamp(100px, 100%, 700px);
  }
  .health-img,
  .bakery-img {
    width: clamp(300px, 100%, 600px);
  }
}

@media (max-width: 480px) {
  .dessert-menu {
    position: relative;
  }
  .food-box {
    padding: 20rem 0rem;
    width: clamp(300px, 80%, 750px);
  }
  .hist,
  .community,
  .philosophy {
    padding: 7rem 1rem;
    height: 35rem;
  }
}
