* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow: hidden;
}

body {
  height: 100vh;
  perspective: 1px;
  transform-style: preserve-3d;
  overflow-x: hidden;
  overflow-y: auto;
}

:root {
  --white: #fff;
  --black: #000;
  --grey: #f2f2f2;
}

h2 {
  font-size: 4.8rem;
  text-align: center;
}

h3 {
  font-size: 1.8rem;
  text-align: center;
}

h6 {
  text-transform: uppercase;
  font-size: 1.8rem;
}

p {
  font-size: 1.6rem;
  margin-top: 2rem;
  font-family: "Open Sans" sans-serif;
}

a {
  font-size: 1.4rem;
  border-bottom: 0.2rem;
  text-decoration: none;
  margin-top: 2rem;
  color: var(--black);
  border-bottom: 0.2rem solid;
  letter-spacing: 0.1rem;
}

.container {
  width: clamp(300px, 90%, 1200px);
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  width: 100vw;
  min-height: 110vh;
  box-sizing: border-box;
  transform-style: preserve-3d;
  color: var(--white);
}

.hero .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero::before {
  content: "";
  width: 100%;
  height: 100%;
  inset: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/pexels-photo-3218467.jpeg");
  background-position: center;
  background-size: cover;
  transform: translateZ(-5px) scale(6);
  position: absolute;
  z-index: -1;
}

.hero h1 {
  text-align: center;
  margin-top: 10rem;
  font-size: 6rem;
}

.hero p {
  text-align: center;
  font-size: 2rem;
  padding: 2rem calc(15%);
}

.hamburger {
  transform: translateY(-5rem);
}

.hamburger span {
  font-size: 30px;
  cursor: pointer;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: -300px;
  z-index: 5;
  font-size: 1.6rem;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  transition: all 0.6s;
}

.sidenav a {
  display: block;
  text-decoration: none;
  color: var(--white);
}

.sidenav a:nth-child(1) {
  float: right;
  font-size: 5rem;
  margin: 3rem 3rem 0 0;
}

.sidenav a:nth-child(2) {
  margin-top: 10rem;
  text-align: center;
}

/*----------------Our Menu------------*/
.menu {
  min-height: 100vh;
  background-color: var(--white);
  z-index: 2;
  position: relative;
  padding: 5rem 0;
}

#overlay {
  position: absolute;
  inset: 0;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  z-index: -5;
  transition: all 0.5s;
}

.menu-boxes {
  margin-top: 3rem;
  flex-wrap: wrap;
  gap: 0 80px;
}

.menu-items {
  padding: 3rem;
  text-align: center;
  width: clamp(500px, 45%, 600px);
}

/*----------------Ice Cream------------*/

.dessert {
  position: relative;
  min-height: 100vh;
  background-image: url("../images/ed-min.jpg");
  background-position: center;
  background-size: cover;
}

.dessert .container {
  position: relative;
}

.dessert-menu {
  position: absolute;
  top: clamp(20px, 25vh, 70px);
  right: 0;
  flex-wrap: wrap;
  justify-content: space-around;
  width: clamp(320px, 50vw, 600px);
}

.dessert-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: clamp(140px, 20vw, 160px);
  height: clamp(100px, 25vh, 200px);
  margin: clamp(0.5rem, 2vw, 1rem);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.dessert-items p {
  text-transform: uppercase;
  color: var(--white);
}

/*----------------History------------*/

.history {
  position: relative;
  min-height: 100vh;
  background: var(--white);
}

.food {
  flex-wrap: wrap;
  padding: 10rem 0;
}

.food-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20rem 0rem;
  width: clamp(200px, 33%, 500px);
}

.food-box h2 {
  font-size: 2.4rem;
  margin-top: 2rem;
}

.hist,
.community,
.philosophy {
  padding: 7rem 5rem;
}

.food-1 {
  background: url("../images/pexels-marta-dzedyshko-2067396.jpg");
  background-position: center;
  background-size: cover;
}
.food-2 {
  background: url("../images/pexels-photo-4099237.jpeg");
  background-position: center;
  background-size: cover;
}
.food-3 {
  background: url("../images/pexels-photo-949069.jpeg");
  background-position: center;
  background-size: cover;
}

/*----------------Testimonial------------*/
.testimonial {
  position: relative;
  min-height: 200vh;
  padding: 5rem 0;
  background-color: var(--grey);
}

.testimonial .container {
  flex-direction: column;
}

.health,
.review {
  padding: 5rem;
  flex-wrap: wrap;
}

.review {
  flex-direction: row-reverse;
}

.health-info,
.bakery-info {
  padding: 0 3rem 5rem 3rem;
  width: clamp(100px, 50%, 700px);
}

.health-info h2,
.bakery-info h2 {
  text-align: left;
}

.bakery-info h2 {
  margin-top: 2rem;
}

.bakery-info p::before {
  display: block;
  padding: 3rem;
  margin-bottom: 1rem;
  content: " ";
  background: url("../images/quote.png");
  background-repeat: no-repeat;
}

.bakery-info h6 {
  margin-top: 5rem;
}

.health-img,
.bakery-img {
  height: clamp(20rem, 70vw, 75rem);
  width: clamp(300px, 50%, 600px);
  background: url("../images/pexels-photo-5591663.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bakery-img {
  background: url("../images/pexels-photo-5591712.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
