@media (max-width: 1300px) {
  .menu-items {
    padding: 3rem 0rem;
  }
}

@media (max-width: 768px) {
  body {
    line-height: 1.6;
  }
  .hero h1 {
    font-size: 6rem;
  }
  .hero p {
    font-size: 1.6rem;
    padding: 2rem 0;
  }
  .menu {
    padding: 5rem 0;
  }
  .menu-items {
    padding: 3rem 1rem;
  }
}

@media (max-width: 480px) {
  .dessert-menu {
    position: relative;
  }
}
